/* Core section */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

:root {
    --link-color: #83888F;
    --linkhover-color: #333D4B;
    --overall-color: #FEFCF7;
    --text-color: #333D4B;
}

body {

    font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Fraunces', serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.to-uppercase {
    text-transform: uppercase;
}

.to-capitalize {
    text-transform: capitalize;
}

.button {
    font-weight: 'Fraunces', serif;
    margin-top: 56px;
    font-family: 'Fraunces', serif;
    background: linear-gradient(to right, #0E8784 0%, #ed239f 51%, #0E8784 100%);
    border: none;
    background-size: 200% auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding: 15px 44px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    color: #FEFCF7;
    border-radius: 6px;
    display: inline-block;
}

.button:hover {
    background-position: right center;
}

/* Intro section */


.intro {
    padding: 20px 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 /10%);
}





.inner__navigation-items{
    position: absolute;
    background-color: var(--overall-color);
    border-radius: 8px;
    opacity: 0;
    z-index: -1;
}

.inner__navigation-item{
    padding: 5px;
}



.inner__nav-link{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
}

.inner__nav-link:hover{
    color: #333D4B;
}

.intro__navigation-item:hover .inner__navigation-items{
    opacity: 1;
    z-index: 1;
}


.intro__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__navigation-items {
    display: flex;
    column-gap: 33px;
    justify-content: space-between;
}

.nav-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: var(--link-color);
    transition: all 0.3s ease-in-out;
}

.intro__navigation-item.active .nav-link {
    color: var(--linkhover-color);
}

.nav-link:hover {
    color: var(--linkhover-color);
}

.intro__btn {
    background: transparent;
    border: none;
    display: none;
}

input[type=checkbox] {
    display: none;
}

.intro__navigation-item:nth-child(4) {
    display: none;
}


/* Main section */

.main {
    padding: 100px 0;
}

.main-head {
    background-image: url(../image/image-1.jpg);
    border-radius: 14px;
    background-repeat: no-repeat;
    padding: 117px 87px;
}

.main__head-info {
    max-width: 493px;
}

.main__head-title {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin-bottom: 32px;
}

.main__head-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}


/* Sorts section */

.sorts__types {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.sorts__type {
    max-width: 255px;
    text-align: center;

    transition: all 0.6s ease-in-out;
}

.sorts__type:hover {
    transform: scale(1.1, 1.1);
}

.sorts__type-name {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin-top: 71px;
}

.sorts__type-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-top: 21px;
}

/* Services section */

.services {
    padding-top: 188px;
}

.services__head {
    background-color: #2C343E;
    padding-top: 100px;
    position: relative;
    border-radius: 16px;
    min-height: 577px;
}

.services__head-intro {
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 86px;
}

.services__head-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 32px;
}

.services__head-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.services__types {
   
    display: flex;
    column-gap: 30px;
    position: absolute;
    bottom: -150px;
    width: 100%;
    justify-content: center;
}



.services__type {
    max-width: 350px;
    background: #0E8784;
    border-radius: 8px;
    text-align: center;
    padding: 72px 48px 48px 48px;
    transition: all 0.7s ease-in-out;
}

.services__type:hover {
    transform: scale(1.1, 1.1);
}

.services__type-info {
    max-width: 255px;
    margin: 0 auto;
    margin-top: 56px;

}

.services__type-name {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
    margin-bottom: 24px;
}

.services__type-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}




/* Instruction section */

.instruction {
    padding-top: 400px;
}

.instruction__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 80px;
    color: #83888F;
}

.instruction__line {
    border: 2px solid #FDD6BA;
    width: 760px;
    display: inline-block;
    height: 1px;
    position: relative;
    margin-bottom: 67px;
}

.instruction__line img:nth-child(1) {
    position: absolute;
    left: 0;
    top: -18px;
}

.instruction__line img:nth-child(2) {
    position: absolute;
    left: 350px;
    top: -18px;
}

.instruction__line img:nth-child(3) {
    position: absolute;
    right: 0;
    top: -18px;
}

.instruction__steps {
    display: flex;
    justify-content: flex-start;
    gap: 95px;
    
}

.instruction__step {
    max-width: 285px;
    transition: all 0.7s ease-in-out;
}

.instruction__step:hover {
    transform: scale(1.1, 1.1);
}

.instruction__step-number {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 38px;
    color: #FDD6BA;
}

.instruction__step-name {
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 42px;
    color: #333D4B;
}

.instruction__step-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}




/* Footer section */

.footer{
    padding-top: 100px;
}

.footer__head{
    padding: 47px 0;
    background: #2C343E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__page-links{
    display: flex;
    gap: 32px;
}

.footer__link{
    font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.923077px;
color: #83888F;
transition: all 0.4s ease-in-out;
}

.footer__page-link.active .footer__link{
    color: var(--overall-color);
}

.footer__link:hover{
    color: var(--overall-color);
}

.footer__social:not(:last-child){
    margin-right: 24px;
}

.footer__social{
    color: var(--overall-color);
    display: inline-block;
    transition: all 0.6s ease-in-out;
}

.footer__social:hover{
    transform: rotate(360deg);
    color: #ed239f;
}







@media only screen and (max-width:768px) {
    .main__head-info {
        max-width: 398px;
    }

    .main-head {
        padding: 104px 58px;
    }

    .main__head-title {

        font-size: 48px;
        line-height: 48px;

    }

    .main__head-description {

        font-size: 15px;
        line-height: 25px;
    }

    .sorts__types {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        row-gap: 32px;
    }

    .sorts__type {
        display: flex;
        max-width: 573px;
    }

    .sorts__type-info {
        text-align: start;
    }

    .services__types {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        position: absolute;
        bottom: -550px;
        width: 100%;
       align-items: center;

    }


    .services__type {
        display: flex;
        gap: 5px;
        max-width: 573px;
        justify-content: space-between;
        align-items: center;
    }

    .services__type-info {
        max-width: 344px;
        text-align: start;
        margin: auto 0;
    }

    .instruction {
        padding-top: 700px;
    }

    .instruction__line {
        width: 467px;
    }

    .instruction__line img:nth-child(2) {
        position: absolute;
        left: 230px;
        top: -18px;
    }

    .instruction__steps {
        display: flex;
        column-gap: 10px;
    }

    .instruction__step {
        max-width: 223px;
    }

    .footer__head{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }


}



@media only screen and (max-width:576px) {
    .intro__btn {
        display: block;
    }

    .intro__navigation-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 32px;
        background: var(--overall-color);
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        transition: all 0.7s ease-in-out;
        transform: translateY(-100%);
    }

    .nav-link {
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: var(--text-color);
    }

    .menu__bar:checked~.intro__navigation-items {
        transform: translateY(0);
    }

    .remove__button {
        position: absolute;
        top: 35px;
        right: 25px;
    }

    .intro__navigation-item:nth-child(4) {
        display: block;
    }

    .main-head {
        padding: 100px 24px;
    }


    .main__head-info {
        max-width: 279px;
        text-align: center;
    }

    .main__head-title {

        font-size: 40px;
        line-height: 40px;

    }

    .main__head-description {

        font-size: 15px;
        line-height: 25px;
    }

    .sorts__types {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        row-gap: 48px;
    }

    .sorts__type {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 282px;
    }

    .sorts__type-info {
        text-align: center;
    }


    .services__head-intro {
        max-width: 279px;
    }

    .services__types {
        display:flex;
        flex-direction: column;
        row-gap: 24px;
        position: absolute;
        bottom: -1200px;
        width: 100%;
        align-items: center;

    }

    .services__type {
        display: flex;
        flex-direction: column;
        max-width: 279px;
    }

    .services__type-info {
        max-width: 255px;
        margin-top: 56px;
        text-align: center;
    }

    .instruction {
        padding-top: 1300px;
    }

    .instruction__line {
        display: none;
    }

    .instruction__title {
        text-align: center;
    }

    .instruction__steps {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .instruction__step{
        max-width: 327px;
        text-align: center;
    }

    .instruction__button{
       margin-top: 94px;
    }

    .box-1{
        text-align: center;
    }

    .footer__head{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .footer__page-links{
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        align-items: center;
    }
}